<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/style.css" rel="stylesheet"/>
    <title>Account</title>
</head>
<body>
<div class="container">
    <h3 class="header">Hello {{account.username}}!</h3>
    <p class="message">Email: {{account.email}}</p>
</div>
</body>
</html>